body {
    background-color:rgb(233, 207, 173);
    color:rgb(122, 94, 46);
}
h1 {
    font-size: 45px;
    text-align: center;
    font-style: italic;
}
hr {
    display: block;
    width:500px;
    border-top: 3px solid rgb(122, 94, 46);
    border-bottom: 0;
    }